html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #e0e6eb;
}

svg {
  width: 100%;
  height: 100%;
}
svg g {
  mix-blend-mode: lighten;
}
svg polygon {
  stroke: none;
  fill: white;
}



