body {
    color: #a8a8a8;
}

#map {
    width: 500px;
    height: 615px;
    margin-left: 10%;
    float: left;
}

#contact {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

h2 {
    margin-top: 30px;
}




*,
*:before,
*:after {
   box-sizing: border-box;
}


.form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;}

    input,
    textarea {
        border: 0;
        outline: 0;
        padding: 15px;
        border-radius: 10px;
        display: block;
        width: 100%;
        margin-top: 15px;
        resize: none;
           }

    #submit {
        color: white;
        cursor: pointer;
        border-radius: 10px;}

    #submit:hover {
            background-color:darkgray;
        }
    }

    textarea {
        height: 126px;
    }
}


.half {
    float: left;
    width: 48%;
    margin-bottom: 15px;
}

.right {
    width: 50%;
    margin-left:25%;
}

.left {
    margin-right: 2%;
}


@media (max-width: 480px) {
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}

