.board {
    margin: 30px auto;
    margin-left: 30%;
    position: relative;
    background-color: seashell;
    overflow: hidden;
    width: 550px;
    height: 444px;
    border: 3px solid yellow;
    border-radius: 10px;
    box-sizing: border-box;
}


[class*="col-"] {
    float: left;
    border: 1px solid black;
}

img {
    height: 100%;
    width: 138px;
}


.col-3 {
    width: 25%;
    height: 100%;
}

.card {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    background: black url(sailorMain.png) center center no-repeat;
    background-size: 100px;
    border-radius: 10px;
    cursor: pointer;
}

body {
    background: linear-gradient(to right, rgba(215, 219, 227, 0.1), rgba(215, 219, 227, 1));
    padding: 10px;
}

.card:hover {
    background-color: red;
}

button {
    margin-left: 50%;
    background-color: pink;
    box-shadow: 2px 2px rgba(215, 219, 227, 1);
    width: 100px;
    height: 30px;
    border-radius: 20%;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0 5px #666;
}

button:hover {
    background-color: hotpink;
}

span {
    color: pink;
    text-shadow: 2px 2px blue;
    font-size: 30px;
    cursor: pointer;
}

.moves {
    font-size: 20px;
    margin-left: 52%;
}