#sideMenu,
.slajdy {
    padding-top: 50px;
}

#misja,
#bubbles {
    padding-top: 50px;
}


#sideMenu li {
    list-style-type: none;
    border: 2px dotted pink;
    margin-top: 5px;
    text-align: center;
    padding-bottom: 15px;
}

#sideMenu li a {
    color: #990099;
}


#sideMenu li a:link {
    color: green;
}


#sideMenu li a:active {
    color: yellow;
}


#sideMenu li a:hover {
    color: hotpink;
    text-decoration-style: none;
}

#sideMenu img {
    width: 160px;
    height: 140px;
    opacity: 0.6;
    margin-left: 15%;
}

#sideMenu a {
    font-size: 18px;
    color: red;
}


body {
    background-color: seashell;
}


.slajdy img {
    display: block;
    height: 200px;
    width: 400px;
}


body {
    font-family: Verdana, sans-serif;
}



/* Number text (1/3 etc) */

.numbertext {
    margin-left: 50%;
    margin-top: 15%;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
}



/* The dots/bullets/indicators */

.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}



/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}



/* On smaller screens, decrease text size */

@media only screen and (max-width: 500px) {
    .text {
        font-size: 11px;
    }
    #sideMenu img {
        margin-left: 35%;
    }
    
       
}


#bubbles {
    padding-left: 10%;
}

#misja h1 {
    color: #990099;
    text-align: center;
}

p {
    color: #990099;
    text-indent: 30px;
}

#misja {
    padding-left: 40px;
    padding-right: 0px;
}

footer {
    text-align: center;
    padding-top: 20px;
}