html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #e0e6eb;
}

svg {
  width: 100%;
  height: 100%;
  g {
    mix-blend-mode: lighten;
  }
  polygon {
    stroke: none;
    fill: white;
  }
}