body,
text {
    background-color: seashell;
}

p,
h2,
h1 {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    text-shadow: 2px 2px violet;
}

h1 {
    font-weight: bold;
}

.progress-bar-one {

    background-color: mediumpurple;
}

.progress-bar-two {
    background-color: lightpink;
}

.circle {
    border-top: 0.1em solid rgba(255, 255, 255, 0.4);
    height: 5em;
    position: absolute;
    width: 5em;
    border-radius: 50%;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
    left: calc(40%);
    border-top: 10px;
    transform-origin: 50% 5em;
    z-index: 1;
}

#one {
    background: rgba(16, 63, 236, 0.75);
    transform: rotateZ(225deg);
}

#two {
    background: rgba(37, 172, 162, 0.75);
    transform: rotateZ(180deg);
}

#three {
    background: rgba(233, 124, 32, 0.75);
    transform: rotateZ(135deg);
}

#four {
    background: rgba(235, 67, 35, 0.75);
    transform: rotateZ(90deg);
}

#five {
    background: rgba(190, 28, 65, 0.75);
    transform: rotateZ(45deg);
}

#six {
    background: rgba(208, 57, 159, 0.75);
    transform: rotateZ(0);
}

#seven {
    background: rgba(150, 32, 198, 0.75);
    transform: rotateZ(-45deg);
}

#eight {
    background: rgba(95, 33, 203, 0.75);
    transform: rotateZ(-90deg);
}


#one {
    animation: spin 5s steps(8, end) 2;
    animation-delay: 0.1s;
    animation-play-state: paused;
}

#two {
    animation: spin 5s steps(8, end) 2;
    animation-delay: 0.5s;
    animation-play-state: paused;
}

#three {
    animation: spin 5s steps(8, end) 2;
    animation-delay: 0.9s;
    animation-play-state: paused;
}

#four {
    animation: spin 5s steps(8, end) 2;
    animation-delay: 1.3s;
    animation-play-state: paused;
}

#five {
    animation: spin 5s steps(8, end) 2;
    animation-delay: 1.7s;
    animation-play-state: paused;
}

#six {
    animation: spin 5s steps(8, end) 2;
    animation-delay: 2.1s;
    animation-play-state: paused;
}

#seven {
    animation: spin 5s steps(8, end) 2;
    animation-delay: 2.5s;
    animation-play-state: paused;
}

#eight {
    animation: spin 5s steps(8, end) 2;
    animation-delay: 2.9s;
    animation-play-state: paused;
}

.glyphicon {
    margin-right: 5px;
    margin-left: 5px;
}

#click {
    margin-left: 20%;
    color: hotpink;
    cursor: pointer;
    margin-top: 170px;
    font-size: 18px;
}

@keyframes spin {
    0% {
        transform: translateX(-10px) translateY(-10px);

        50% {
            transform: translateX(480px) translateY(-250px);
        }
    }
    100% {
        transform: translateX(1100px) translateY(-480px);
    }
}

@media screen and (max-width:700px) {
    h1 {
        text-align: center;
    }
}